.cards-wrapper {
    margin-top: 40px;
  }
  
  .cards-top h1 {
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: black;
  }
  
  .cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }
  